@charset "UTF-8";

.bg1.subbg{background:#fff url(../image/sub/sub_bg.jpg) no-repeat top left; background-size:100% 100%; height:250px;}
.sub_inner{position:relative; width:600px; margin:0 auto;}




/*sub_login*/
.login.sub_login{ background:#080d2d;}
.login.sub_login .login_inner form .btn_login{width:500px; height:40px; background:#000f6f; border:0; font-size:17px; color:#fff;}
.login.sub_login .login_inner > p a,
.login.sub_login .login_inner > span a{color:#fff;}


/*sub_sch*/
.sch.sub_sch form .btn_sch{ background:#080d2d; }



/*visual*/
.sub_visual{position:relative !important;  }
.sub_vis li img{width:100%;}

.sub_txt2{position:absolute;  z-index:9999; margin:0 auto; left:0; right:0; bottom:0px; }
.home2{overflow:hidden; background:#080c2d;  height:55px;}
.home2 li{float:left; padding-left:40px;}
.home2 li a{display:block; width:200px;display:inline-block; line-height:55px;  }
.home2 li:nth-child(2) a {left:40%;}
.home2 li a p{float:left; font-size:15px; font-weight:500; color:#fff; }
.home2 li a span{float:right; margin-right:50px; }


/*content_txt*/

.sec1_header{ border-bottom:1px solid #ddd; padding-bottom:40px;}
.sec1_header h3{ text-align:center; font-size:30px; font-weight:500; color:#080c2d; margin-top:55px;}


.se1_content{margin:95px auto;}

.se1_co1{position:relative;}
.se1_co1 li{margin:30px 40px; }
.se1_co1 li strong{color:#1d2553; font-size:20px; line-height:135%; letter-spacing:-1; }
.se1_co1 li p{margin-top:25px;color:#4c4d59; font-size:16px; line-height:155%; letter-spacing:-1; font-weight:500;}
.se1_co1 li p span{font-weight:900; color:#4c4d59;}


.se1_co2{position:absolute; bottom:-180px; left:35px; text-align:center;  }
.se1_co2 span > img{width:290px; height:350px;}
.se1_co2 p{font-size:20px; color:#323234; font-weight:700; margin-top:30px;}
.se1_co2 > img {margin-bottom:50px; display:inline-block;}


/*sub_footer*/
.sub_footer{margin-top:190px;}
