@charset "utf-8";



article{width:100%; }
.inner{position:relative; width:1200px; margin:0 auto;}
.outinner3{position:relative; width:1300px; margin:0 auto;}
.outinner{position:relative; width:1400px; margin:0 auto;}
.outinner2{position:relative; width:1800px; margin:0 auto;}



/**********비주얼*********/

.section.visual{background:url(../image/main_vis.jpg) no-repeat; }


.vistxt{ color:#fff; text-align:left; margin-left:150px; margin-top:100px; font-family:'Gmarket Sans';}
.vistxt span{font-size:50px;  font-weight:400 !important; }
#txtbg{background:#b5c9f9; width:480px; height:82px;  font-size:67px; line-height:90px;}

.vistxt p{color:#59688e; font-size:28px; margin-top:10px; font-weight:400 !important;}



/**********TV 퀴즈 이벤트*********/
.section.tvcf{background:url(../image/section2_bg.jpg) no-repeat; font-family:'Gmarket Sans';}

.inner_tvcf{margin-top:-150px;}
.title.tvcftit p{font-size:70px; color:#fff; font-weight:400 !important; margin:0 auto 100px; }

.player_screen { overflow:hidden; position:relative;  width:663px; height:360px; }
.player_screen.ps1{float:left;}
.player_screen.ps2{float:right;}

.player_screen iframe { position:relative; width:663px; height:360px;}
.player_screen .top_img1 a,
.player_screen .top_img2 a{display:block;}
.player_screen .top_img1 a div,
.player_screen .top_img2 a div{width:136px; height:136px; position:absolute; top:0px; left:0px; cursor:pointer; }

.player_screen .top_img1 a div{background:#f68790;}
.player_screen .top_img2 a div{background:#85a5ee;}

.player_screen .top_img1 a div p,
.player_screen .top_img2 a div p{line-height:135%; margin-top:30px; color:#fff;}

.player_screen .top_img1 a img{border:4px solid #f68790;}
.player_screen .top_img2 a img{border:4px solid #85a5ee;}



.player_screen .top_img1 + iframe, 
.player_screen .top_img2 + iframe{ display:none }


.quiz_quest{position:relative; }
.quiz_box.quest1{position:absolute; top:280px; left:0; width:663px;}
.quiz_box.quest2{ position:absolute; top:280px; right:0; width:663px;}


/*margin,padding:상우하좌*/

.box_title.qzbox1,
.box_title.qzbox2{ height:78px;}

.box_title.qzbox1 p,
.box_title.qzbox2 p{color:#fff; font-size:36px; font-weight:800; line-height:78px;}

.box_title.qzbox1{background:#f68790;}
.box_title.qzbox2{background:#85a5ee;}

.inner_box > p{color:#692228; font-size:24px; font-weight:300; margin-top:20px; line-height:135%; letter-spacing:-1;}
.inner_box > p:last-child{color:#3786a2;}

.inner_box ul{overflow:hidden; margin:15px 0 0 94px; }
.inner_box ul li{float:left; margin-left:15px; border:2px solid #f68790; background:#fff; width:91px; height:90px;}
.inner_box ul li p{color:#f16f79; font-size:56px; font-weight:300; line-height:90px;}





/**********제로데이 역대급 0원 혜택*********/

.section .zeroday{overflow:hidden; background:url(../image/sec3_ogbg.jpg) ; font-family:'Gmarket Sans';}


/*오리지날*/



.ogtit{font-size:67px; color:#ee4d9c; font-weight:300;text-align:left;letter-spacing:-3px; }

.ogtit_1{position:absolute; top:70px; left:-20px; }
#ogtit_2{background:#e24493;   transform: skewX(-15deg) ; padding:4px;  }
#ogtit_2 span{color:#fff;  }

.zero_original{float:left; text-align:center;  }
.zero_original .product_box.original{ margin-top:250px;}
.section3_model{float:right; margin-right:250px;}


.box_title.zero_org{margin-bottom:30px;}
.box_title.zero_org p{color:#2f2c2e; font-size:36px; letter-spacing:-1; font-weight:500;}
.box_title.zero_org p > span{display:block; color:#e24493; font-size:150px; margin-bottom:-100px; }

.in_tit{font-size:24px; color:#9e6781;}

.product{position:relative !important;}
.product ul .award_1{position:absolute; top:20px; right:130px; background:#e24493; width:122px; height:122px; border-radius:150px;}
.product ul .award_1 p{color:#fff; font-size:24px; line-height:135%; margin-top:32px;}

/*클린잇제로3종*/
.section .zeroday2{ background:url(../image/sec3_3bg.jpg) ; font-family:'Gmarket Sans';}


.threezero{text-align:center; margin-top:10px;}
.threezero ul{overflow:hidden;}
.threezero ul li{float:left;  position:relative; margin-left:85px; }
.threezero ul li:nth-child(2){margin-left:250px;}
.threezero ul li:nth-child(3){float:right; margin-right:15px;}

.threezero ul li > p{font-size:40px; font-weight:400; letter-spacing:-3px; margin-bottom:70px; margin-right:50px;}

.threezero ul li:nth-child(3) > p{margin-right:60px;}

.threezero ul li p .PURIFYING{color:#8991dc;}
.threezero ul li p .REVITALZING{color:#62cfc5;}
.threezero ul li p .NOURISING{color:#f0d64e; }

.threezero ul li p .PURIFYING,
.threezero ul li p .REVITALZING,
.threezero ul li p .NOURISING{font-weight:600;}


.threezero ul li .upper{ background:#abb1e7; width:150px; height:150px; border-radius:150px; position:absolute; top:25%; right:10%;}
.threezero ul li .upper p{font-size:23px; color:#fff; padding-top:50px;}


.threezero ul li .upper.revit{background:#6de2d7; }
.threezero ul li .upper.nour{background:#fce258;}


/*클린잇제로신제품*/
.section .zeroday3{ background:url(../image/sec3_newbg.jpg); font-family:'Gmarket Sans';}


.product_box.pore{margin-top:70px;}


.zero3tit{font-size:80px; color:#a6e493; letter-spacing:-5px; }
.zero3tit #zero3tit2{background:#48ac9e; width:225px; height:75px;}
.zero3tit #zero3tit2 span{font-size:80px; color:#fff;}

.box_title p{color:#109185; font-size:40px; letter-spacing:-3px; font-weight:300; margin:80px auto 40px;}

.zero3txt{font-size:35px; color:#b7f5a4; font-weight:300; letter-spacing:-3px;}
.zero3txt #zero3txt2{background:#fff; width:319px; height:48px;}



.product.zro3product ul{overflow:hidden;}
.product.zro3product ul li{float:left;}


.product.zro3product ul li:nth-child(1){width:30%;}
.product.zro3product ul li:nth-child(2){width:45%; padding-top:130px;}
.product.zro3product ul li:nth-child(3){width:20%;}





.newzero33{ z-index:9999999999 !important; position: relative;  }
.newzero33 div{margin-left:300px; margin-bottom:-50px;  background:#71cdc0; width:120px; height:120px; border-radius:120px;}

.product.zro3product ul li:nth-child(2) a > .newzero33 div{margin-left:430px; }
.product.zro3product ul li:nth-child(3) a > .newzero33 div{margin-left:150px; }





.newzero33 div p{font-size:17px; color:#fff; padding-top:43px; font-weight:500;}

.fp-slidesNav{display: none;}



/**********************리뷰쓰고 마카롱 제로 GET******************************/
.section.macaron{background:url(../image/macaron_bg.jpg);  font-family:'Gmarket Sans';}

.title.macaron_tit p{font-size:55px; color:#fff; letter-spacing:-5px; font-weight:500;}
.title.macaron_tit p i{font-size:70px;}
.title.macaron_tit p span{background:#3dad96; padding:15px 15px 0 0 ; }


.inner_macaron{overflow:hidden; margin-top:80px;}
.inner_macaron li{float:left; width:49%;}
.inner_macaron li:nth-child(2){width:50%;}


.inner_macaron li ul{overflow:hidden; margin-top:150px;}
.inner_macaron li ul li{float:left; width:100%;}



.inner_macaron li ul li > span{text-align:left; line-height:155%; font-weight:300; position:absolute; top:38%; right:-2%; font-size:17px; color:#3d7595;}


.inner_macaron li ul li > p{font-size:16px; color:#476c70; font-weight:300;  line-height:135%;}




#macaron_box1{z-index:99999 ;background:#518dbc; transform: skewY(-14deg);   padding:5px 5px 2px 5px;  position:absolute; top:28%; left:47%; }
#macaron_box1 span{font-size:20px; color:#fff; line-height:155%;}

#macaron_box2{z-index:99999 ;background:#ff50b3; transform:skewY(-20deg); padding:5px 5px 2px 5px; position:absolute; top:33%; left:46%; }
#macaron_box2 span{font-size:20px; color:#fff; line-height:155%;}




/*******************************************TV CF 보고 퀴즈를 맞춰라**************************/
.section.comment{ font-family:'Gmarket Sans'; }
.title.comment_tit{margin-top:100px; font-size:45px; color:#8f3daa; font-weight:400; letter-spacing:-2px;}

.comment_txt{margin:130px auto 60px;}
.comment_txt p{font-size:28px; color:#73587c; margin:40px auto;}

.comment_txt p span{background:#ffd799;}
.comment_txt > span{font-size:26px; line-height:155%; color:#94849a;}
.comment_txt > span b{color:#824e93;}




/*margin,padding:상우하좌*/

.quiz_quest.comtxt{overflow:hidden;}
.quiz_quest.comtxt li{float:left; }

.box_qzbox1,
.box_qzbox2{width:650px; height:78px;}

.box_qzbox1 p,
.box_qzbox2 p{color:#fff; font-size:36px; font-weight:800; line-height:78px;}

.box_qzbox1{background:#f68790;}
.box_qzbox2{background:#85a5ee;}

.inner_box1 > p,
.inner_box2 > p{color:#692228; font-size:24px; font-weight:300; margin-top:20px; line-height:135%; letter-spacing:-1;}
.inner_box2 > p{color:#3786a2;}

.inner_box1 ul{overflow:hidden; margin:15px 0 0 94px; }
.inner_box1 ul li{float:left; margin-left:15px; border:2px solid #f68790; background:#fff; width:91px; height:90px;}
.inner_box1 ul li p{color:#f16f79; font-size:56px; font-weight:300; line-height:90px;}


.com_wrap{margin:40px auto;}

#more_z{ background:#ce8dd2;  padding:30px 60px 20px 60px;}
#more_z > span{color:#fff; font-size:20px; line-height:50px;  }



.writebox{width:1300px; height:210px; background:#f2f2f2; position:relative !important; text-align:left;}
.wrtiebox_inner > p{font-size:18px; color:#2d2a2a; padding:20px 0 15px 150px; font-weight:300 !important;}
.wrtiebox_inner > p > span{color:#868686;}
#box_con_txt{color:#c9c7c7; font-size:14px; font-weight:300; padding:0 0 0 150px !important; }
.wrtiebox_inner button{background:#ce8dd2; width:80px; height:83px; text-align:center; position:absolute; top:3; right:6%; }
.wrtiebox_inner button p{color:#fff; font-size:15px;}

input[type='text']{ width:996px;height:82px; margin-left:150px; margin-bottom:25px;}



.write_list{margin:50px auto; text-align:left;}
.write_list tr{border-bottom:1px solid #ddd; }

caption{margin-bottom:20px;}

.tb_key{overflow:hidden; }
.tb_key p {margin-top:13px; font-size:19px; width:80%; color:#686868; line-height:115%; font-weight:400;}
.tb_key a{float:right; width:15%; font-weight:500;}

.tb_name p,
.tb_date p{font-size:15px; color:#6b6b6b; font-weight:200;}



